@fontePricipal: Roboto, sans-serif;
@fonteDoTitulo: Lobster, cursive;
@corDoTexto: #fff;
@corDeFundo: #eb3b5a;

body{
    background-color: @corDeFundo;
    font-family: @fontePricipal;
    color: #fff;
}

h1{
    font-family: @fonteDoTitulo;
}