*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{ 
    overflow-x: hidden;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer{
    background-color: #192a56;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header > .container,
footer > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #575fcf;
    padding: 16px 0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    color: #fff;
    text-decoration: none;
}

.menu_hamburger{
    width: 32px;
    cursor: pointer;
}

.menu_hamburger span{
    height: 2px;
    width: 100%;
    background-color: #fff;
    display: block;
    margin-bottom: 4px;
}

.container_flex{
    display: flex;
}

#sobre_a_loja img{
    max-width: 400px;
}
.texto h2, .texto p{
    margin: 16px;
    text-align: justify;
}

.texto h2{
    margin-top: 0;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.lista_veiculos{
    flex-wrap: wrap;
}

.lista_veiculos li{
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista_veiculos li img{
    max-width: 100%;
}

.lista_veiculos li h3{
    margin: 16px 0;
}

.item_central{
    margin: 0 5%;
}

button{
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-family: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

strong, .preco{
    margin: 16px 0;
    display: block;
}

.preco del{
    color: #ccc;
    font-size: 14px;
}

.form_campo {
    margin-bottom: 16px;
}

.form_campo label{
    font-weight: bold;
    display: block;
}

.form_campo input,
.form_campo textarea{
    width: 100%;
    display: block;
    padding: 8px;
}

.form_campo textarea{
    resize: none;
    height: 120px;
}
form{
    max-width: 380px;
}

form button{
    max-width: 120px;
}

footer li{
    list-style: none;
    margin-left: 16px;
}

footer li img{
    height: 32px;
}

footer .container{
    justify-content: space-between;
    align-items: center;
}
